- if @items.any?
  - @items.each do |item|
    .contact-method
      %span.icon.alt.fa-envelope
      %h3= item.name
      %span= item.description
      %br/
      %span $#{item.price}
      %br/
      - if item.account != current_user.account
        - if item.cart_id
          = link_to "Remove from Cart", item_path(item), method: 'patch', class: 'button small special', remote: true
        - else
          = link_to "Add to Cart", item_path(item), method: 'patch', class: 'button small', remote: true
- else
  %h4 There are no items available for purchase at this time. Try again later.
