.container
  .inner
    %header.major
      %h3 Fill in the following information to create an account.
    .content
      = form_for(@account, mutlipart: true) do |f|
        .field
          = f.label :name
          = f.text_field :name
        .field
          = f.label :about
          = f.text_field :about
        .field
          = f.label :avatar
          = f.file_field :avatar
        .field
          = f.label :address
          = f.text_field :address
        .actions
          = f.submit 'Create User Account', { class: 'button special' }
