#main
  %section#one.spotlights
    %section
      .image
        = image_tag @account.avatar.url
      .content
        .inner
          %header.major
            %h3= @account.name
          %p= @account.about
  %section#contact
    .inner
      %section#account-items
        - if @account.items.any?
          - @account.items.each do |item|
            %section
              .contact-method
                %h3= item.name
                %span= item.description
                %br/
                %span $#{item.price}
                - if @account == current_user.account
                  %br/
                  = link_to "Delete", item_path(item), method: 'delete', data: {confirm: "Delete this item?"}, class: 'button small delete_item', remote: true, style: 'float:right'
                  %br
                %hr
        - else
          %h4 This user has no available items for purchase.
      - if @account == current_user.account
        %section.split
          = form_for Item.new, :remote => true do |f|
            .field
              = f.label :name
              = f.text_field :name
            .field
              = f.label :description
              = f.text_field :description
            .field
              = f.label :category
              = f.text_field :category
            .field
              = f.label :price
              = f.number_field :price, step: :any
            .actions
              = f.submit "Add Item Listing"
