#main
  %section#one.spotlights
    %section
      .image
        = image_tag @account.avatar.url
      .content
        .inner
          %header.major
            %h3= @account.name
          %p= @account.about
    %section
      .image
        %iframe{width: "420", height: "420", src:"https://www.google.com/maps/embed/v1/place?key=#{ENV['MAPS_API_KEY']}&q=#{@account.address}&zoom=15"}
      .content
        .inner
          %header.major
            %h3 Temporary API Use
          %p Here for code review only.
  %section#contact
    .inner
      %section#account-items
        - if @account.items.any?
          - @account.items.each do |item|
            %section
              .contact-method
                %h3= item.name
                %span= item.description
                %br/
                %span $#{item.price}
                %hr
        - else
          %h4 This user has no available items for purchase.
      %section.split
        = form_for Item.new, :remote => true do |f|
          .field
            = f.label :name
            = f.text_field :name
          .field
            = f.label :description
            = f.text_field :description
          .field
            = f.label :category
            = f.text_field :category
          .field
            = f.label :price
            = f.number_field :price, step: :any
          .actions
            = f.submit "Add Item Listing"
